

html,
body {
  background: linear-gradient(to left,  #09b1e9,#1a242e);

  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  width: 200px;
  color:white;
}



a {
  color: #f8981d;
  transition: all .35s;
}

a #extension{
  color: white !important;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(252, 3, 3, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}




footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #f8981d!important;
}

.text-primary {
  color: #f8981d;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

Button{
  color:#1a242e;
  background-color: #f8981d;
  padding: 2%;
  margin: 2%;
  border-color: silver;
}

.form-group{
  padding: 0 0 5% 0;
}

#back{
  color:white;
  background-color: #1a242e;
  border-color: #396fc0;
}