.amasync-chatroom {
  width: 20vw;
  position: absolute;
  top: 0px;
  right: 0;
  height: 100vh;
  background-color: white;
  display: flex;
  flex: 1;
  z-index: 10000;
}

.web-player {
  width: 80vw !important;
}
